<style>
    @font-face {
        font-family: 'JetBrainsMono Nerd Font';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'JetBrainsMono Nerd Font';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/JetBrainsMonoNerdFontMono-Italic.ttf') format('truetype');
    }
    @font-face {
        font-family: 'JetBrainsMono Nerd Font';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/JetBrainsMonoNerdFontMono-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'JetBrainsMono Nerd Font';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/JetBrainsMonoNerdFontMono-BoldItalic.ttf') format('truetype');
    }

    html,
    body,
    button,
    input,
    select,
    textarea {
        font-family: 'JetBrainsMono Nerd Font', ui-monospace, 'SF Mono', Consolas, Menlo, monospace;
        font-feature-settings: "calt" 1, "liga" 1;
    }
    code,
    pre,
    kbd,
    samp,
    .highlight,
    .highlight pre {
        font-family: 'JetBrainsMono Nerd Font', ui-monospace, 'SF Mono', Consolas, Menlo, monospace;
    }
</style>
